<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/img/imgadmin/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">


                <p> </p>



                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>


            <li class="treeview menu-open">
                <a href="/Users/index">
                    <i class="fa fa-table"></i> <span> Quản Lý Tài Khoản </span>
                    <span class="pull-right-container">
                        </span>
                </a>
            </li>
            <li class="treeview menu-open">
                <a href="/Bookings/index">
                    <i class="fa fa-table"></i> <span> Quản lý Lịch Đăng Ký </span>
                    <span class="pull-right-container">
                        </span>
                </a>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>