.pd-cl{
    background: aqua;
    border-bottom: solid #4150f4;
    border-top: solid #4150f4;
    border-right: solid #4150f4;
    text-align: center;
    color: red;

}
.pd-cl li a{
    font-size: 20px;
    color: #4150E6
}
.pd-cl a {
    font-size: 30px !important;
    color: red !important;
}
.tex{
    text-align: center;
}